name: CI - Build & Run

on:
  push:
    branches: [ main ]
  pull_requests:
    branches: [ main ]

jobs:
  build-and-run:
    runs-on: ubuntu-latest
    steps:
      - name: Check repository
        uses: actions/checkout@v4

      - name: Create .env from GitHub Secrets
        run: |
          echo "APP_MESSAGE=${{ secrets.APP_MESSAGE }}" > .env
          echo "APP_HEALTH=$ {{ secrets.APP_HEALTH}}" >> .env
      - name: Debug - show .env creation
        run: |
          echo "---- .env contents ----"
          cat .env || true
          echo "---- end .env ----"
      
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and start services with docker compose
        env:
          COMPOSE_DOCKER_CLI_BUILD: 1
          DOCKER_BUILDKIT: 1
        run: |
          docker compose up --build -d
      
      - name: Wait for service to be healthy
        run: |
          for i in {1..15}; do
            if curl -sSf http://localhost:5000/ >/dev/null 2>&1; then
              echo "Service responding"
              break
            fi
            echo "Waiting for service"
            sleep 2
          done
        
      - name: Hit endpoints and show responses
        run: |
          echo "CURL /"
          curl -sS http//:localhost:5000/ || true
          echo ""
          echo "CURL /health"
          curl -sS http://localhost:5000/health || true
          echo ""
      
      - name: Tear down
        if: always()
        run: |
          docker compose down --rmi all -v
